
.header__menu {
  display: flex;
  align-items: center;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__links_type_auth {
  gap: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

}

.header__link {
  transition: opacity .3s;
  text-decoration: none;
}

.header__link_type_signin {
  color: var(--white-text);
}

.header__link_type_login {
  padding: 8px 20px;
  color: var(--black-text);
  background: var(--green-button);
  border-radius: 3px;
}

.header__link:hover {
  opacity: .3;
}