.profile {
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 0 70px;
}

.profile__heading {
  max-width: 410px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding-bottom: 123px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile__form-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  padding-bottom: 16px;
}

.profile__form-label:nth-of-type(n + 2) {
  padding: 24px 0 0;
  border-top: 1px solid #E8E8E8;
}

.profile__form-input {
  border: none;
  padding: 0;
  text-align: end;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 213px;
}

.profile__form-button {
  width: fit-content;
  border: none;
  background: var(--white-background);
  padding: 0;
  cursor: pointer;
  transition: opacity .3s;
}

.profile__form-button:hover {
  opacity: .3;
}

.profile__form-button_type_edit {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.profile__form-button_type_exit {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 236px 0 269px;
  }

  .profile__heading {
    padding-bottom: 80px;
  }

  .profile__form-label {
    padding-bottom: 15px;
  }

  .profile__form-label:nth-of-type(n + 2) {
    padding: 18px 0 0;
  }

  .profile__form-buttons {
    padding-top: 210px;
  }
}

@media screen and (max-width: 540px) {
  .profile {
    max-width: 260px;
    padding: 70px 0 40px;
  }

  .profile__heading {
    padding-bottom: 96px;
  }

  .profile__form-label {
    padding-bottom: 16px;
  }

  .profile__form-label:nth-of-type(n + 2) {
    padding: 17px 0 0;
  }

  .profile__form-buttons {
    padding-top: 379px;
  }

  .profile__form-button_type_edit {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__form-button_type_exit {
    font-size: 12px;
    line-height: 15px;
  }
}