.search-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 80px 70px 40px;
  border-bottom: 1px solid #e8e8e8;
}

.search-form__input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  border: none;
}

.search-form__input {
  width: 100%;
  height: 50px;
  padding: 0 0 0 20px;
  background: #F9F9F9;
  border: none;
  border-radius: 8px;
  outline-color: var(--green-background);
}

.search-form__submit-button {
  width: 44px;
  height: 44px;
  padding: 0;
  background: url(../../images/search-icon.png) var(--green-background) center no-repeat;
  border: none;
  border-radius: 8px;
}

.checkbox {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 12px;
  border: none;
  margin: 0;
  padding: 0;
}

.checkbox__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 34px;
  height: 14px;
  background: var(--green-background);
  border-radius: 20px;
  cursor: pointer;
}

.checkbox__container_checked {
  justify-content: flex-end;
}

.checkbox__circle {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: var(--white-background);
}

.checkbox__input {
  height: 0;
}

.checkbox__lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--black-text);
  cursor: pointer;
}